@import 'main.scss';

//CONDITION FOR MEDIA QUERIES
@mixin mediaScreen($class) {
    @if $class == sm {
        @media only screen and (min-width:1px) and (max-width: 480px) { @content; }
    }
    @else if $class == md {
        @media only screen and (min-width:481px) and (max-width: 767px) { @content; }
    }
    @else if $class == lg {
        @media only screen and (min-width:768px) and (max-width: 959px) { @content; }
    }
    @else if $class == xlg {
        @media only screen and (min-width:960px) and (max-width: 1490px) { @content; }
    }
    @else if $class == xxlg {
        @media only screen and (min-width:1220px) and (max-width: 1490px) { @content; }
    }
    @else {
        @warn "mediaScreen mixin supports: xs, sm, md, lg";
    }
}

// Navigation - mobile menu
.mobile-container {max-width: 766px;margin: auto; display: none;}
// .mobile-container2 {display: none;}
.topnav {overflow: hidden;position: relative;
    #sbg-links {display: none;}
    a {color: white;padding: 14px 16px;text-decoration: none;font-size: 17px;display:block; text-align: center; clear: both;}
    .icon {font-size: 1.6em; display:block;position:absolute;right: 0;top: 0;}
    a:hover {background-color: $color_yellow;}
    .active {background-color:$color_orange;}
    img {width: 100px; float: left; margin: 15px;}
}
#nav-sbg { display: block; }
.mobile-logo {display: none;}

// About page - mobile screen
.mobile-cards{display: none;}
.mobile-grid{display: grid; grid-template-columns: auto auto auto auto; padding: 10px;}
.mb2 .mobile-grid {grid-template-columns: auto auto auto; justify-content: space-between;}
.flip-card {background-color: transparent; @include sizes(80px, 140px); perspective: 200px; margin-bottom: 10px;}
.flip-card-inner { @include transition-style(transform 0.6s); transform-style: preserve-3d; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);position: relative;@include sizes(100%, 100%);text-align: center;}
.flip-card:hover .flip-card-inner { @include transform-style(rotateY(180deg));}
.flip-card-front, .flip-card-back {position: absolute; @include sizes(100%,100%); -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.flip-card-front {background-color: #bbb;color: black;}
.flip-card-back {@include gradient_bg($color_bg_blue,$color_nav);color: white; @include transform-style(rotateY(180deg));
    h1{font-size: 1em;}
    p{font-size: 0.8em;}
}

@include mediaScreen(sm){
    // Homepage
    #nav-sbg {display: none;}
    .mobile-container {display: block;}
    .grid {grid-gap: 5px; margin-top: 60px;
        >div { padding: 10px 0;}
    }
    .left-tri, .right-tri {
        img{@include sizes(90px, 300px); margin-top: 25px;}
    }
    .center-main { margin-top: 0;
        h2 { font-size: 1.3em;}
        .h1-style {font-size: 3em; margin-top: 30px;}
        .btn-start a {font-size: 1em; margin-top: 50px;}
        .btn-style {padding: 10px;}
    }
    // Footer
    .fa-homepage {font-size: 18px; width: 21px; @include margPadd(5px 8px,12px);}
    .footer{font-size: 0.8em;}

    // next page
    .bg-blueg{ min-height: 360px;
        .nav-two {display: none;}} 
    .ab{
        padding: 10px 0;
        h1 {font-size: 1.5em;}
        p {font-size: 0.8em; padding: 0 30px;}
    }
    .ab-meet {margin-top: 30px; font-size: 0.7em;}
    .tabs{ padding: 10px; min-height: 100px; min-width: 100px;
        ul li label{@include font_style(1em, 500);}
        .slider{display: none;}
    }
    .container {display: none;}
    .mobile-cards {display: block;
        img {width: 80px; height: auto;}
    }
    // Footer - next page
    .pre-footer2{ padding: 10px;
        .f-item{
            h2{font-size: 14px;}
            p{font-size: 12px;}
            img{width: 32px;}
            a{font-size: 25px; width: 20px;}}
    }
    .footer2 p{font-size: 0.8em;}
    // news page
    .news-bg{ padding-top: 80px;}
    .grid-buttons{grid-template-columns: auto; @include margPadd(15px 0, 10px 40px);
        i{font-size: 1.5em; margin: 10px 0;}
    }
    #btn-annou, #btn-gallery, #btn-events{font-size: 1.3em;padding: 10px; @include sizes(200px, 100px); margin-bottom: 40px;
    }
    // contact page
    .grid-contact { margin: 30px 0;grid-template-columns: auto;padding: 10px;
        img {cursor: zoom-in; max-width: 400px; float: none;}
        h3{font-size: 1em;}
    }
    .cont-bg{padding-top: 80px;}
    .div-continfo { justify-content: center; text-align: center;
        p{ font-size:15px; padding-bottom: 5px;}}
}
@include mediaScreen(md){
    #nav-sbg {display: none;}
    .mobile-container {display: block;}
    .grid {grid-gap: 5px; margin-top: 80px;
        >div { padding: 10px 0;}
    }
    .left-tri, .right-tri {
        img{@include sizes(120px, auto); margin-top: 20px;}
    }
    .left-nav, .right-nav{
        a {font-size: 0.8em !important;}
    }
    .center-main { margin-top: 0;
        h2 { font-size: 1.5em;}
        .h1-style {font-size: 4em; margin-top: 30px;}
        .btn-start a {font-size: 1.2em; margin-top: 50px;}
        .btn-style {padding: 15px;}
    }
    .fa-homepage {font-size: 18px; width: 21px; @include margPadd(5px 8px,12px);}
    .footer{font-size: 1em;}

    // next page
    .bg-blueg{
        .nav-two{display: none;}
        .mobile-container2 {display: block;}
    }
    .ab{
        h1 {font-size: 1.8em;}
        p {font-size: 1em; padding: 0 20px;}
    }
    .ab-meet {margin-top: 30px; font-size: 0.7em;}
    .tabs{ padding: 10px; min-height: 100px; min-width: 100px;
        ul li label{@include font_style(1.4em, 600);}
        .slider{display: none;}}
    .container {display: none;}
    .mobile-cards {display: block;
        img {width: 120px; height: auto;}
    }
    .flip-card {@include sizes(120px, 215px);}
    .flip-card-back {
        h1{font-size: 1.3em;}
        p{font-size: 1.1em;}
    }
    // Footer - next page
    .pre-footer2{ padding: 10px;
        .f-item{
            h2{font-size: 16px;}
            p{font-size: 13px;}
            img{width: 36px;}
            a{font-size: 25px; width: 20px;}}
    }
    .footer2 p{font-size: 0.9em;}
    // news page
    .news-bg{ padding-top: 80px;}
    .grid-buttons{grid-template-columns: auto; @include margPadd(15px 0, 10px 40px);
        i{font-size: 2em; margin: 10px 0;}
    }
    #btn-annou, #btn-gallery, #btn-events{font-size: 1.3em;padding: 30px; @include sizes(300px, 200px); margin-bottom: 30px;
    }
}
@include mediaScreen(lg){
    .grid {grid-gap: 5px; margin-top: 80px;
        >div { padding: 10px 0;}
    }
    .left-tri, .right-tri {
        img{@include sizes(200px, auto); margin-top: 20px;}
    }
    .left-nav, .right-nav{
        a {font-size: 1.2em !important;}
    }
    #nav-sbg {
        .logo-nav img {width: 120px; }
        .nav-flex li a{font-size: 16px !important;}
    }
    .center-main { margin-top: 0;
        h2 { font-size: 1.7em;}
        .h1-style {font-size: 5em; margin-top: 30px;}
        .btn-start a {font-size: 1.4em; margin-top: 50px;}
        .btn-style {padding: 21px;}
    }
    .fa-homepage {font-size: 25px; width: 25px; @include margPadd(5px 8px,15px);}
    .footer{font-size: 1.1em;}
    
    // next page
    .bg-blueg{
        .nav-two {
            .logo-sbg {width: 100px; margin-right: 60px; }
            a, i{font-size: 12px;}
        }
        .mobile-container2 {display: none;}
    }
    .ab{
        h1 {font-size: 2em;}
        p {font-size: 1em; padding: 0 80px;}
    }
    .ab-meet {margin-top: 30px; font-size: 0.7em;}
    .tabs{ padding: 10px; min-height: 100px; min-width: 100px;
        ul li label{@include font_style(1.4em, 600);}
        .slider{display: none;}}
    .container {display: none;}
    .mobile-cards {display: block;
        img {width: 120px; height: auto;}
    }
    .flip-card {@include sizes(120px, 215px);}
    .flip-card-back {
        h1{font-size: 1.3em;}
        p{font-size: 1.1em;}
    }
    // Footer - next page
    .pre-footer2{ padding: 10px;
        .f-item{
            h2{font-size: 16px;}
            p{font-size: 13px;}
            img{width: 36px;}
            a{font-size: 25px; width: 20px;}}
    }
    .footer2 p{font-size: 0.9em;}
    // news page
    .grid-buttons{@include margPadd(15px 0, 10px 40px);
        i{font-size: 2em; margin: 15px 0;}
    }
    #btn-annou, #btn-gallery, #btn-events{font-size: 1.2em;padding: 30px; @include sizes(200px, 150px); margin: 100px 0;
    }
}
@include mediaScreen(xlg){
    .grid {grid-gap: 5px; margin-top: 100px;
        >div { padding: 10px 0;}
    }
    .left-tri, .right-tri {
        img{@include sizes(240px, auto); margin-top: 15px;}
    }
    .left-nav, .right-nav{
        a {font-size: 1.3em !important;}
    }
    .logo-nav { 
        img {width: 190px;}
    }
    .nav-two {
        .logo-sbg {width: 120px; margin-right: 120px; 
        }
        a, i{font-size: 16px;}
    }
    .center-main { margin-top: 0;
        h2 { font-size: 1.8em;}
        .h1-style {font-size: 6em; margin-top: 30px;}
        .btn-start a {font-size: 1.4em; margin-top: 55px;}
        .btn-style {padding: 21px 24px;}
    }
    .fa-homepage {font-size: 23px; width: 25px; @include margPadd(5px 8px,15px);}
    .footer{font-size: 21px;}

    // next page
    .ab{
        h1 {font-size: 2.2em;}
        p {font-size: 1.2em; padding: 0 80px;}
    }
    .ab-meet {margin-top: 30px; font-size: 0.9em;}
    .tabs{ padding: 10px; min-height: 100px; min-width: 100px;
        ul li label{@include font_style(1.5em, 600);}
        .slider { width: 400px; margin-left: 50px; }
    }
    .container {
        .img-description{font-size: 1.5em; left: 5px;}
        .card {
            .card__head {font-size: 1.2em;}}
        .card:hover .card__head {font-size: 1.2em;}
    }
    .c2 {margin: 6vmin 20vmin !important;}
    // Footer - next page
    .pre-footer2{ padding: 10px;
        .f-item{
            h2{font-size: 18px;}
            p{font-size: 14px;}
            img{width: 45px;}
            a{font-size: 28px; width: 20px;}}
    }
    .footer2 p{font-size: 1em;}
    // news page
    .grid-buttons{@include margPadd(15px 0, 10px 40px);
        i{font-size: 2.2em; margin: 15px 0;}
    }
    #btn-annou, #btn-gallery, #btn-events{font-size: 1.4em;padding: 30px; @include sizes(300px, 200px); margin: 60px 0;
    }
}

@include mediaScreen(xxlg){
    .tabs{
        .slider { width: 400px; }
    }
}